#App {
  text-align: center;
}




.video-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.icon {
  width: 25px;
  height: 25px;
}



img {
  width: 100%;
}


.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


.profile img {
  padding: 20px;
  width: 70%;
  border-radius: 50%;
}
